<section>
  <article *ngFor="let article of articles">
    <h1>{{ article.title }}</h1>
    <p>{{ article.author }}</p>
    <h2>{{ article.summary }}</h2>
    <p>{{ article.content }}</p>
  </article>
</section>
